<html>
  <h1>Create a Team and Heroes!</h1>
  
  <form action='/teams' method="POST"  >
    
    <p>Team Name:</p><input type="text" name='name'>
    <p>Team Motto:</p><input type="text" name='team'>
    
    <h2>Hero 1</h2>
    <p>Hero's Name:</p><input type="text" name='name'>
    <p>Hero's Power:</p><input type="text" name='team'>
    
    
  </form>
  
</html>


